<p>
	Welcome to ruby-museday, a ruby on rails app for managing your poetry submissions, written by <a href="http://www.marknenadov.com/">Mark Nenadov</a>.
</p>

<br /><br />

<%= link_to "My Poems", :controller => :poems, :action => :index %><br />
<%= link_to "Submitted Poem Statuses", :controller => :submitted_poem_statuses, :action => :index %><br />
<%= link_to "Submissions", :controller => :submissions %><br />
<%= link_to "Publications", :controller => :publications %>
